img{
	width: 100%;
	height: 100%;
}

.container{
	width: 100%;
	}
.container .ui-block-game,
.container .ui-block-submit{
	padding: 0px;
	float: left;
}
.container .ui-block-game{
	position: relative;
	width: 100%;
	height: 400px;
}
.container .ui-block-submit{
	position: relative;
	top:20px;
	width: 100%;
	height: 600px;
}


 #bottles-container, #mice-container, .bottle-container { 
 	width: 100%;
 	overflow: auto;
 }
 #bottles-container{height: 50%}
 #mice-container{height: 45%}

 .bottle-container{
 	 /*position:absolute;*/
 	 overflow: visible;
 	 left:0px;
 	 right:0px;
 	 padding: 10px 10px 10px 10px;
 }
 #bottles-container .bottles, #mice-container .mice,.bottle-container .bottle  { 
 	position:relative;
 	margin: 3px 3px 3px 0;  
 	float: left; width: 45px;  
 	height:45px; 
 	z-index: 10
 }

.bottle-container .bottle{
	width: 30px; 
	height:45px;
	margin: 3px 10px 3px 0; 
	z-index: 3000
}
.bottle-container .bottle p{
	position:absolute;
	font-size: 0.7em;
	 text-align: center;
	 margin: auto
	  top: 0; left: 0; bottom: 0; right: 0;
}
 #bottles-container .bottles p{
 	position: absolute;
 	font-size: 1em; 
 	text-align: center;
 	top:-20px;
 	right:10px;
 }

.bottle-popup{
	width: 220px;
	height: 370px;
}

.middle-text-large{
	text-align: center;
	font-size: 50px;
}

#SubmitBoard{
	height: 100%
}

.submit .bottle{
	width:30%;
	position: relative;
}

.submit .bottle p{
	position: absolute;
	font-size: 20px; 
	text-align: center;
	top:2px;
	left:10px;
	color:black;
}
.submit .bottle img{
	width:30px;
}

.ui-selectable-helper {
	position: absolute;
	z-index: 1200;
	border: 2px dotted black;
}

